<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="e" class="com.app.bean.Engine">
        <property name="modelyear" value="2019"/>
    </bean>

    <bean id="c" class="com.app.bean.Car">
        <lookup-method name="myEngine" bean="e"/>
    </bean>
</beans>